<div class="container">
    <div class="row">
      <div class="col-xs-12">
          <hr>
          <ol>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
          </ol>
        <hr>
        <button class="btn btn-primary" (click)="onToggleDetails()">display details</button>
        <p *ngIf="showSecret">Secret pasword  = tuna</p>
        <div 
          *ngFor="let logItem of log; let i = index"
          [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent' }"
          [ngClass]="{'white-text': i >= 5}"

        >{{logItem}}</div>
      </div>
    </div>
</div>
